@import "~/src/partials/variables.scss";
.credit-card {
  background-color: $primary;
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  max-width: 350px;
  margin: 0 auto;
  .logo {
    text-align: end;
    filter: brightness(0) invert(1);
  }
  .details {
    margin-top: 20px;
    .name {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .number {
      font-size: 25px;
      margin-bottom: 15px;
      font-weight: 900;
      > span {
        font-size: 14px;
        vertical-align: middle;
        font-weight: 600;
      }
    }
    .validity {
      font-size: 12px;
      span:first-child {
        margin-right: 20px;
      }
    }
  }
  .visa {
    text-align: end;
    font-size: 20px;
    font-style: italic;
  }
}
