//colors
$primary: rgb(45, 192, 53);
$secondary: rgb(5, 62, 109);
$textPrimary: #212121;
$text-secondary: rgb(146, 144, 144);
$tertiary: rgb(224, 232, 243);

//screen sizes
$screen-sm: 640px;

@mixin box-shadow() {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}
